/* important section */
.jsmind-inner{position:relative;overflow:auto;width:100%;height:100%;}/*box-shadow:0 0 2px #000;*/
.jsmind-inner{
    moz-user-select:-moz-none;
    -moz-user-select:none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

/* z-index:1 */
canvas{position:absolute;z-index:1;}

/* z-index:2 */

/*leo hide*/
/*jmnodes{position:absolute;z-index:2;background-color:rgba(0,0,0,0);}
jmnode{position:absolute;cursor:default;max-width:400px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}*/

/*leo add*/
/*jsMind在样式中设置到节点的最大宽度，如果越宽，该节点内的文本将会被截断，并在末尾添加“...”，如果希望jsMind不进行此处理，可通过下面修改jsmind的样式表进行处理。*/
jmnodes{position:absolute;z-index:2;background-color:rgba(0,0,0,0);min-width:420px;word-break:break-all;}
/* 17行 */
jmnode{position:absolute;cursor:default;max-width:400px;}

jmexpander{position:absolute;width:11px;height:11px;display:block;overflow:hidden;line-height:12px;font-size:12px;text-align:center;border-radius:6px;border-width:1px;border-style:solid;cursor:pointer;}

/* default theme */
jmnode{padding:10px;background-color:#fff;color:#333;border-radius:5px;box-shadow:1px 1px 1px #666;font:16px/1.125 Verdana,Arial,Helvetica,sans-serif;}
jmnode:hover{box-shadow:2px 2px 8px #000;background-color:#ebebeb;color:#333;}
jmnode.selected{background-color:#11f;color:#fff;box-shadow:2px 2px 8px #000;}
jmnode.root{font-size:24px;}
jmexpander{border-color:gray;}
jmexpander:hover{border-color:#000;}

@media screen and (max-device-width: 1024px) {
    jmnode{padding:5px;border-radius:3px;font-size:14px;}
    jmnode.root{font-size:21px;}
}
/* primary theme */
jmnodes.primary jmnode{background-color:#428bca;color:#fff;border-color:#357ebd;}
jmnodes.primary jmnode:hover{background-color:#3276b1;border-color:#285e8e;}
jmnodes.primary jmnode.selected{background-color:#f1c40f;color:#fff;}
jmnodes.primary jmnode.root{}
jmnodes.primary jmexpander{}
jmnodes.primary jmexpander:hover{}

/* warning theme */
jmnodes.warning jmnode{background-color:#f0ad4e;border-color:#eea236;color:#fff;}
jmnodes.warning jmnode:hover{background-color:#ed9c28;border-color:#d58512;}
jmnodes.warning jmnode.selected{background-color:#11f;color:#fff;}
jmnodes.warning jmnode.root{}
jmnodes.warning jmexpander{}
jmnodes.warning jmexpander:hover{}

/* danger theme */
jmnodes.danger jmnode{background-color:#d9534f;border-color:#d43f3a;color:#fff;}
jmnodes.danger jmnode:hover{background-color:#d2322d;border-color:#ac2925;}
jmnodes.danger jmnode.selected{background-color:#11f;color:#fff;}
jmnodes.danger jmnode.root{}
jmnodes.danger jmexpander{}
jmnodes.danger jmexpander:hover{}

/* success theme */
jmnodes.success jmnode{background-color:#5cb85c;border-color:#4cae4c;color:#fff;}
jmnodes.success jmnode:hover{background-color:#47a447;border-color:#398439;}
jmnodes.success jmnode.selected{background-color:#11f;color:#fff;}
jmnodes.success jmnode.root{}
jmnodes.success jmexpander{}
jmnodes.success jmexpander:hover{}

/* info theme */
jmnodes.info jmnode{background-color:#5dc0de;border-color:#46b8da;;color:#fff;}
jmnodes.info jmnode:hover{background-color:#39b3d7;border-color:#269abc;}
jmnodes.info jmnode.selected{background-color:#11f;color:#fff;}
jmnodes.info jmnode.root{}
jmnodes.info jmexpander{}
jmnodes.info jmexpander:hover{}

/* greensea theme */
jmnodes.greensea jmnode{background-color:#1abc9c;color:#fff;}
jmnodes.greensea jmnode:hover{background-color:#16a085;}
jmnodes.greensea jmnode.selected{background-color:#11f;color:#fff;}
jmnodes.greensea jmnode.root{}
jmnodes.greensea jmexpander{}
jmnodes.greensea jmexpander:hover{}

/* nephrite theme */
jmnodes.nephrite jmnode{background-color:#2ecc71;color:#fff;}
jmnodes.nephrite jmnode:hover{background-color:#27ae60;}
jmnodes.nephrite jmnode.selected{background-color:#11f;color:#fff;}
jmnodes.nephrite jmnode.root{}
jmnodes.nephrite jmexpander{}
jmnodes.nephrite jmexpander:hover{}

/* belizehole theme */
jmnodes.belizehole jmnode{background-color:#3498db;color:#fff;}
jmnodes.belizehole jmnode:hover{background-color:#2980b9;}
jmnodes.belizehole jmnode.selected{background-color:#11f;color:#fff;}
jmnodes.belizehole jmnode.root{}
jmnodes.belizehole jmexpander{}
jmnodes.belizehole jmexpander:hover{}

/* wisteria theme */
jmnodes.wisteria jmnode{background-color:#9b59b6;color:#fff;}
jmnodes.wisteria jmnode:hover{background-color:#8e44ad;}
jmnodes.wisteria jmnode.selected{background-color:#11f;color:#fff;}
jmnodes.wisteria jmnode.root{}
jmnodes.wisteria jmexpander{}
jmnodes.wisteria jmexpander:hover{}

/* asphalt theme */
jmnodes.asphalt jmnode{background-color:#34495e;color:#fff;}
jmnodes.asphalt jmnode:hover{background-color:#2c3e50;}
jmnodes.asphalt jmnode.selected{background-color:#11f;color:#fff;}
jmnodes.asphalt jmnode.root{}
jmnodes.asphalt jmexpander{}
jmnodes.asphalt jmexpander:hover{}

/* orange theme */
jmnodes.orange jmnode{background-color:#f1c40f;color:#fff;}
jmnodes.orange jmnode:hover{background-color:#f39c12;}
jmnodes.orange jmnode.selected{background-color:#11f;color:#fff;}
jmnodes.orange jmnode.root{}
jmnodes.orange jmexpander{}
jmnodes.orange jmexpander:hover{}

/* pumpkin theme */
jmnodes.pumpkin jmnode{background-color:#e67e22;color:#fff;}
jmnodes.pumpkin jmnode:hover{background-color:#d35400;}
jmnodes.pumpkin jmnode.selected{background-color:#11f;color:#fff;}
jmnodes.pumpkin jmnode.root{}
jmnodes.pumpkin jmexpander{}
jmnodes.pumpkin jmexpander:hover{}

/* pomegranate theme */
jmnodes.pomegranate jmnode{background-color:#e74c3c;color:#fff;}
jmnodes.pomegranate jmnode:hover{background-color:#c0392b;}
jmnodes.pomegranate jmnode.selected{background-color:#11f;color:#fff;}
jmnodes.pomegranate jmnode.root{}
jmnodes.pomegranate jmexpander{}
jmnodes.pomegranate jmexpander:hover{}

/* clouds theme */
jmnodes.clouds jmnode{background-color:#ecf0f1;color:#333;}
jmnodes.clouds jmnode:hover{background-color:#bdc3c7;}
jmnodes.clouds jmnode.selected{background-color:#11f;color:#fff;}
jmnodes.clouds jmnode.root{}
jmnodes.clouds jmexpander{}
jmnodes.clouds jmexpander:hover{}

/* asbestos theme */
jmnodes.asbestos jmnode{background-color:#95a5a6;color:#fff;}
jmnodes.asbestos jmnode:hover{background-color:#7f8c8d;}
jmnodes.asbestos jmnode.selected{background-color:#11f;color:#fff;}
jmnodes.asbestos jmnode.root{}
jmnodes.asbestos jmexpander{}
jmnodes.asbestos jmexpander:hover{}

/* 动画 */
*{padding:0;margin:0}
#jsmind_container{width:100%;height:600px;background-color:#fff}
.menu{z-index:99999}
jmnode{transition:top .2s;-moz-transition:top .2s;-webkit-transition:top .2s;-o-transition:top .2s}




/*右键菜单*/
.kmsjsmap-dropdown-menu {
    list-style: none;
    padding: 6px 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 3px;
}

.kmsjsmap-dropdown-menu li {
    font-size: 14px;
    padding: 0 16px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #606266;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    cursor: pointer;
}


.kmsjsmap-dropdown-menu li:hover {
    background-color: #f5f7fa;
}

.kmsjsmap-dropdown-menu li a {
    color: #606266;
    text-decoration: none;
}


#kmsjsmap_contextmenu {
    position: absolute;
    z-index: 99999;
    display: none;
}



.lui-jsmind-innerToolBar {
    position: absolute;
    bottom: 10%;
    right: 3px;
    width: 25px;
    z-index: 5;
    transform: none;
}
.lui-jsmind-innerToolBar ul {
    border-width: 1px 1px 1px;
    border-style: solid none solid solid;
    border-color: #d9d9d9 #d9d9d9 #d9d9d9;
    border-right: none;
    list-style: none;
    background-color: #fff;
}
.lui-jsmind-innerToolBar li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #d9d9d9;
}
.lui-jsmind-innerToolBar li:LAST-CHILD {
    border-bottom:none;
}


/*思维导图主题*/
.leo-badge {
    background-color: #D85646;
    border-radius: 10px;
    display: inline-block;
    font-size: 8px;
    color: #FFFFFF;
    height: 18px;
    line-height: 18px;
    padding: 0 6px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #fff;
    border-color: #adadad;
    position: absolute;
    overflow: hidden;
    z-index: 9;
}

/* kms1 theme */                                                
/* 节点样式 */      
jmnodes.theme-kms1 jmnode {
    background-color: #EDF2FD;
    border: 1px solid #4285F4;
    border-radius: 4px;
    font-size: 16px;
    color:#000;
}
/* 鼠标悬停的节点样式 */
jmnodes.theme-kms1 jmnode:hover {
    /*background-color: #16a085;*/
}
/* 选中的节点样式 */
jmnodes.theme-kms1 jmnode.selected {
    /*background-color: #11f;*/
    /*color:#fff;*/
}
/* 根节点样式 */
jmnodes.theme-kms1 jmnode.root {
    background: #4285F4;
    border-radius: 6px;
    font-size: 22px;
    color: #FFFFFF;
}
/* 展开/关闭节点的控制点样式 */
jmnodes.theme-kms1 jmexpander {

}
/* 鼠标悬停展开/关闭节点的控制点样式 */
jmnodes.theme-kms1 jmexpander:hover {

}

/*节点添加链接后的样式*/
jmnodes jmnode.isLink {
    cursor: pointer!important;
    padding-right: 18px!important;
    background-repeat: no-repeat!important;
    background-position: right center!important;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAdZJREFUOBGlks8rBGEYx3d2tjalLeKgtHuQFMpZdjerrHYduGxRHMRN7cXRciH2D3BQKMVJrYNywJT2R36l5MTBwYk9ok3K7qzPM81MU1aUp97e5/s83+/zPO8z43L905S/6PuxSqWSrlarnYqi3Lvd7vlsNnsi2l8LBIPBKXhbZqMn7hZTFy0UCprbTNS8EE+S2KTrOyeGoJXuIWKf4GUR/VggFAqNkN+G+IZoMJ/PH4kgl8udEbvG7RJcs0AsFvOR2+C8qKoa4b3nQhajcAu76OY8CK5ZoFQq9UJoplO6XC4PIVoRMrtsIn6M67Oe4JGEZYlEQi0Wiz0WhiyTJLg7wuHwLV8iCe5GvMKTMsKzv4Ip3iU26vF4Ruksfh3vH9d1fQ//Dn+OIgMscwFsmD0BndfpNEb1K959AXEanEHcxv1IvJ1dnKKSY5uxA8aLQpqBdOP1eqOapr2y7QNwJ10vRUzeWJqtNB1rgmHBdE6K2EGqZ5JDSVFoyRG3XWMCqhu7gOy1MpFIpIfxNXADJ8VE+1bOeasCAoGAzjXBCfr9/mdwH8V2wI2Mv8jSlvFrmv0V+G3XYMw6WDriFJ9r1RH75toFJMMy44wdx/1gHxnnH/hNaQa+ALg8wwX3thiSAAAAAElFTkSuQmCC')!important;
}


